html,
body {
  height: 100%;
  width: 100%;

  overlow: hidden;

  -webkit-font-smoothing: antialiased;
}

.content {
  position: fixed;
  left:  0;
  right: 0;
  top:   0;
  bottom: 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  transform: scale(1.03);
  filter: blur(8px);
}

/**
 * Darkens the BG
 */
.hint {
  position: fixed;
  left:  0;
  right: 0;
  top:   0;
  bottom: 0;

  webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
  transform: translateZ(0);

  background-color: black;
  opacity: 0.5;
}


.media-container {
  z-index: 10;

  margin-left: 100px;

  position: fixed;
  display: flex;
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 100%;
  min-height: 100%;
}

.media-inner {
  width: 100%;
  margin: auto;
  display: flex;
}

.album-art img {
  height: 320px;
  width: auto;
}

.song-info {
  color: #fff;
  margin-left: 50px;
}

.song-info .name {
  font-size: 2.5em;
}

.song-info .artist {
  font-size: 1.2em;
  color: #b2b2b2;
}

.player {
  width: 400px;
  margin-top: 180px;
}

.player .progress {
  height: 2px;
  background-color: grey;
}

.player .progress .progress-bar {
  background-color: white !important;
}

.player .remaining-wrapper {
  display: flex;
  float: right;

  font-size: 1.3em;
  margin-top: 10px;
}


@media (max-width: 200px) {
  .media-container {
    margin-left: 10px;
  }
  .player {
    width: 140px;
  }
}

@media (max-width: 800px) {
  .album-art img {
    height: 200px;
  }

  .media-container {
    margin-left: 20px;
  }

  .player {
    margin-top: 80px;
    width: 200px;
  }
}

@media (max-width: 1000px) {
  .media-container {
    margin-left: 40px;
  }
}
